@{
    ViewBag.Title = "Availability";
}
<script src="~/Models/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<html>
<body>
    <center>
        <h1 Style="background-color: black;color:pink;"> Enter your Availability </h1>
    </center>
    <br />
    @Html.AntiForgeryToken()

    <p> @Html.Label("From", "From:")</p>
    @Html.TextBox("From", null, new { @class = "form-contal" })
    @Html.ValidationMessage("From", "", new { @class = "text-danger" })

    &nbsp;

    <p> @Html.Label("To", "To:")</p>
    @Html.TextBox("To", null, new { @class = "form-contal" })
    @Html.ValidationMessage("To", "", new { @class = "text-danger" })
    <br />


    <p> @Html.Label("Regions of availability", "Regions of availability:")</p>
    @Html.TextBox("RegionsOfAvailability", null, new { @class = "form-contal" })
    @Html.ValidationMessage("RegionsOfAvailability", "", new { @class = "text-danger" })

    &nbsp;

    <p> @Html.Label("Types of games", "Types of games:")</p>
    @Html.TextBox("TypesOfGames", null, new { @class = "form-contal" })
    @Html.ValidationMessage("TypesOfGames", "", new { @class = "text-danger" })
    <br />


    <p> @Html.Label("Priority of regions", "Priority of regions:")</p>
    @Html.TextBox("PriorityOfRegions", null, new { @class = "form-contal" })
    @Html.ValidationMessage("PriorityOfRegions", "", new { @class = "text-danger" })
    <br />

    <center>
        <p><a href="~/Home/Users"> <div class="button"><center>Submit</center>  </div> </a></p>
    </center>



    <br />
    <style>
        * {
            box-sizing: border-box;
        }

        /* Add padding to containers */
        .container {
            padding: 16px;
        }

        /* Full-width input fields */
        .form-contal, text-danger {
            width: 30%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: none;
            background: #f1f1f1;
        }

        input[type=text]:focus, input[type=password]:focus {
            background-color: #ddd;
            outline: none;
        }

        /* Overwrite default styles of hr */
        hr {
            border: 1px solid #f1f1f1;
            margin-bottom: 25px;
        }

        /* Set a style for the submit/register button */
        .button {
            background-color: #000000;
            color: black;
            padding: 16px 20px;
            margin: 20px 0;
            border: none;
            cursor: pointer;
            width: 20%;
            opacity: 0.9;
        }

            .button:hover {
                opacity: 1;
            }

        /* Add a blue text color to links */
        a {
            color: white;
        }

        /* Set a grey background color and center the text of the "sign in" section */
        .signin {
            background-color: #f1f1f1;
            text-align: center;
        }
    </style>

</body>
</html>