@model RDEvent.Models.User
@{
    ViewBag.Title = "Experience";
}

<script src="~/Models/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<html>
<body>
    <center>
        <h1 Style="background-color: black;color:pink;"> Skating Officials Roles </h1>
    </center>
    <br />
    <button onclick="location.href='@Url.Action("PersonalDetails", "Home")';return false;" class="button">Back</button>
    <br />

    @using (Html.BeginForm("Experience", "Home", FormMethod.Post))

    {
        @Html.AntiForgeryToken()

        <strong>If you are a Non-Skating Official!</strong><a href="/Home/NonSkatting">Click Here</a>
        <br />
        if (ViewBag.Message != null)
        {
        <div class="submitlink">
            <button onclick="location.href='@Url.Action("Users", "Home")';return false;" class="button">Back to Home</button>
        </div>
        }

        if (ViewBag.Message != null)
        {
            <center>
                <div class="alert alert-success">

                    <strong>Success!</strong><br />@ViewBag.Message


                </div>
            </center>
        }

        <p> @Html.Label("List of Skating Roles:")</p>
        <p>
            Head Referee, Jammer Referee, Inside Pack Referee, Outside Pack Referee, <br />
            Alternate Referee,Tournament Head Referee, Crew Head Referee
        </p>
        @Html.TextAreaFor(dc => dc.SkRoles, new { rows = 7, Cols = 50 })
        @Html.ValidationMessageFor(dc => dc.SkRoles, "", new { @class = "text-danger" })
        <br />


        <p> @Html.Label("Experience in Roles:")</p>
        @Html.TextBoxFor(dc => dc.SkExperience, null, new { @class = "form-contal" })
        @Html.ValidationMessageFor(dc => dc.SkExperience, "", new { @class = "text-danger" })
        <br />


        <p> @Html.Label("Certification Levels:")</p>
        @Html.DropDownListFor(dc => dc.SkCertificationLevels, new List<SelectListItem>
        {
    new SelectListItem {Text ="Level 0",Value="1"},
    new SelectListItem {Text ="Level 1",Value="2"},
    new SelectListItem {Text ="Level 2",Value="3"},
    new SelectListItem {Text ="Level 3",Value="4"},
        }, "Select the Level")

        @Html.ValidationMessageFor(dc => dc.SkCertificationLevels, "", new { @class = "text-danger" })
        <br />
        <br />



        <p> @Html.Label("Additional skills:")</p>
        @Html.TextBoxFor(dc => dc.SkAdditionalSkills, new { @class = "form-contal" })
        @Html.ValidationMessageFor(dc => dc.SkAdditionalSkills, "", new { @class = "text-danger" })
        <br />
        <br />

        <center>
            <center><input type="Submit" value="Submit" class="button" /></center>
        </center>


        if (ViewBag.Message != null)
        {
            <center>
                <div class="submitlink">
                    <strong>If you are also a Non-Skating Official!</strong><a href="/Home/NonSkatting/">Click Here</a>
                </div>

            </center>
        }



        <style>
            * {
                box-sizing: border-box;
            }

            /* Add padding to containers */
            .container {
                padding: 16px;
            }

            /* Full-width input fields */
            .form-contal, text-danger, form-contal {
                width: 30%;
                padding: 15px;
                margin: 5px 0 22px 0;
                display: inline-block;
                border: groove;
                background: #f1f1f1;
            }

            input[type=text]:focus, input[type=password]:focus {
                background-color: #ddd;
                outline: none;
            }

            /* Overwrite default styles of hr */
            hr {
                border: 1px solid #f1f1f1;
                margin-bottom: 25px;
            }

            /* Set a style for the submit/register button */
            .button {
                background-color: #000000;
                color: white;
                padding: 16px 20px;
                margin: 20px 0;
                border: none;
                cursor: pointer;
                width: 20%;
                opacity: 0.9;
            }

                .button:hover {
                    opacity: 1;
                }

            /* Add a blue text color to links */
            a {
                color: dodgerblue;
            }

            /* Set a grey background color and center the text of the "sign in" section */
            .signin {
                background-color: #f1f1f1;
                text-align: center;
            }
        </style>

    }
</body>
</html>



