@model RDEvent.Models.News
@{
    ViewBag.Title = "AddNews";
}

<html>
<body>
    <center>
        <h1 Style="background-color: black;color:pink;"> News Feed </h1>
    </center>
    <br />
    <button onclick="location.href='@Url.Action("AdminNews", "News")';return false;" class="button">Back</button>
    <br />

    <br />
    @using (Html.BeginForm("AddNews", "News", FormMethod.Post))
    {
        @Html.AntiForgeryToken()



        <p> @Html.Label("News Title", "News Title")</p>
        @Html.TextAreaFor(k => k.NewsTitle, new { rows = 5, Cols = 50 })
        @Html.ValidationMessageFor(k => k.NewsTitle, "", new { @class = "text-danger" })
        <br />


        <p> @Html.Label("News Content", "News Content:")</p>
        @Html.TextAreaFor(k => k.NewsContent, new { rows = 7, Cols = 50 })
        @Html.ValidationMessageFor(k => k.NewsContent, "", new { @class = "text-danger" })

        <br />
        <center><input type="Submit" value="Submit" class="button" /></center>

    }

    <style>
        * {
            box-sizing: border-box;
        }

        /* Add padding to containers */
        .container {
            padding: 16px;
        }

        /* Full-width input fields */
        input[type=text], input[type=password] {
            width: 30%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: none;
            background: #f1f1f1;
        }

            input[type=text]:focus, input[type=password]:focus {
                background-color: #ddd;
                outline: none;
            }

        /* Overwrite default styles of hr */
        hr {
            border: 1px solid #f1f1f1;
            margin-bottom: 25px;
        }

        /* Set a style for the submit/register button */
        .button {
            background-color: #000000;
            color: white;
            padding: 16px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 20%;
            opacity: 0.9;
        }

            .button:hover {
                opacity: 1;
            }

        /* Add a blue text color to links */
        a {
            color: dodgerblue;
        }

        /* Set a grey background color and center the text of the "sign in" section */
        .signin {
            background-color: #f1f1f1;
            text-align: center;
        }
    </style>
    
</body>
</html>

