@model RDEvent.Models.Addevent
@{
    ViewBag.Title = "AddEvents";
}

<html>
<body>
    <center>
        <h1 Style="background-color: black;color:pink;"> Add Events </h1>
        <br />

    </center>
    <br />
    <button onclick="location.href='@Url.Action("AdminEvents", "Events")';return false;" class="button">Back</button>
    <br />
    @if (ViewBag.Message != null)
    {
        <center>
            <div class="alert alert-success">

                <strong>Success!</strong><br />@ViewBag.Message


            </div>
        </center>
    }
   
    @using (Html.BeginForm("AddEvents", "Events", FormMethod.Post))
    {
        @Html.AntiForgeryToken()


        <p> @Html.Label("Event Name", "Event Name:")</p>
        @Html.TextBoxFor(s => s.EventName, null, new { @class = "form-contal" })
        @Html.ValidationMessageFor(s => s.EventName, "", new { @class = "text-danger" })
        @Html.ValidationMessage("EventNameExist", new { @class = "text-danger" })
        <br />
        <br />


        <p> @Html.Label("Region", "Region:")</p>
        @Html.DropDownListFor(s => s.Region, new List<SelectListItem>
       {
    new SelectListItem {Text ="BOP",Value="1-BOP"},
    new SelectListItem {Text ="Central 1",Value="2-Central-1"},
    new SelectListItem {Text ="Central 2",Value="3-Central 2"},
    new SelectListItem {Text ="Northern",Value="4-Northern"},
    new SelectListItem {Text ="Southern 1",Value="5-Southern-1"},
    new SelectListItem {Text ="Southern 2",Value="6-Southern 2"},
    new SelectListItem {Text ="Wellington",Value="7-Wellington"},

       }, "Select the Region")


        @Html.ValidationMessageFor(s => s.Region, "", new { @class = "text-danger" })
        <br />
        <br />

        <p> @Html.Label("Description", "Description:")</p>
        @Html.TextAreaFor(s => s.Description, new { rows = 5, Cols = 50 })
        @Html.ValidationMessageFor(s => s.Description, "", new { @class = "text-danger" })
        <br />
        <br />

        <p> @Html.Label("Date", "Date:")</p>
        @Html.TextBoxFor(s => s.Date, new { @type = "date", @AllowTextInput = "False" })
        @Html.ValidationMessageFor(s => s.Date, "", new { @class = "text-danger" })
        <br />
        <br />

        <p> @Html.Label("City", "City:")</p>
        @Html.DropDownListFor(s => s.City, new List<SelectListItem>
       {
    new SelectListItem {Text ="Auckland",Value="Auckland"},
    new SelectListItem {Text ="Christchurch",Value="Christchurch"},
    new SelectListItem {Text ="Dunedin",Value="Dunedin"},
    new SelectListItem {Text ="Hamilton",Value="Hamilton"},
    new SelectListItem {Text ="Kapiti",Value="Kapiti"},
    new SelectListItem {Text ="Levin",Value="Levin"},
    new SelectListItem {Text ="Nelson",Value="Nelson"},
    new SelectListItem {Text ="Napier",Value="Napier"},
    new SelectListItem {Text ="NewPlymouth",Value="NewPlymouth"},
    new SelectListItem {Text ="Palmerston North",Value="Palmerston North"},
    new SelectListItem {Text ="Queenstown",Value="Queenstown"},
    new SelectListItem {Text ="Rotorua",Value="Rotorua"},
    new SelectListItem {Text ="Timaru",Value="Timaru"},
    new SelectListItem {Text ="Taupo",Value="Taupo"},
    new SelectListItem {Text ="Tauranga",Value="Tauranga"},
    new SelectListItem {Text ="UpperHutt",Value="UpperHutt"},
    new SelectListItem {Text ="Wellington",Value="Wellington"},
    new SelectListItem {Text ="Whakatane",Value="Whakatane"},
    new SelectListItem {Text ="Wanganui",Value="Wanganui"},
    new SelectListItem {Text ="Whangarei",Value="Whangarei"},

       }, "Select the City")

        @Html.ValidationMessageFor(s => s.City, "", new { @class = "text-danger" })
        <br />
        <br />
        <p> @Html.Label("Event Category", "Event Category:")</p>
        @Html.DropDownListFor(s => s.TypeofEvent, new List<SelectListItem>
            {
            new SelectListItem {Text ="Mens",Value="Mens"},
            new SelectListItem {Text ="Womens",Value="Womens"},
            new SelectListItem {Text ="Juniors",Value="Juniors"},
            new SelectListItem {Text ="Co-ed",Value="Co-ed"},
            new SelectListItem {Text ="Others",Value="Others"},
      }, "Select the Category")

        @Html.ValidationMessageFor(s => s.TypeofEvent, "", new { @class = "text-danger" })
        <br />
        <br />
        <p> @Html.Label("Special Notes", "Special Notes:")</p>
        @Html.TextAreaFor(s => s.NumberOfOfficialsNeeded, new { rows = 5, Cols = 50 })
        @Html.ValidationMessageFor(s => s.NumberOfOfficialsNeeded, "", new { @class = "text-danger" })
        <br />
        <br />


        <center><input type="Submit" value="Add Event" class="button" /></center>

        if (ViewBag.Message != null)
        {
            <center>
                <div class="buttonlink">


                    <button onclick="location.href='@Url.Action("AdminEvents", "Events")';return false;" class="button">Go to Events page</button>


                </div>
            </center>
        }


        <style>
            * {
                box-sizing: border-box;
            }

            /* Add padding to containers */
            .container {
                padding: 16px;
            }

            /* Full-width input fields */
            .form-contal, text-danger {
                width: 40%;
                padding: 15px;
                margin: 5px 0 22px 0;
                display: inline-block;
                border: groove;
                background: #f1f1f1;
            }

            input[type=text]:focus, input[type=password]:focus {
                background-color: #ddd;
                outline: none;
            }

            /* Overwrite default styles of hr */
            hr {
                border: 1px solid #f1f1f1;
                margin-bottom: 25px;
            }

            /* Set a style for the submit/register button */
            .button {
                background-color: black;
                color: white;
                padding: 16px 20px;
                margin: 20px 0;
                border: none;
                cursor: pointer;
                width: 20%;
                opacity: 0.9;
            }

                .button:hover {
                    opacity: 1;
                }

            /* Add a blue text color to links */
            a {
                color: dodgerblue;
            }

            /* Set a grey background color and center the text of the "sign in" section */
            .signin {
                background-color: #f1f1f1;
                text-align: center;
            }
        </style>

    }
</body>
</html>